@import '../../scss/sass-variables';

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  .form-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      width: 80%;
    }

    .input-field-container {
      width: 43.375rem;
      height: 3.625rem;
      margin-right: 1rem;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
    }

    .btn-container {
      width: 13.125rem;
      height: 3.625rem;

      @media screen and (max-width: 768px) {
        margin-top: 1.5rem;
        width: 100%;
      }
    }
  }
}
