@import '../../scss/sass-variables';
@mixin grid {
  display: flex;
  align-items: center;
  color: $dark;
}

.commit-card {
  display: grid;
  grid-template-areas: 'user message date';
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    grid-template-areas:
      'message message message'
      'user user date';
  }

  .user {
    grid-area: user;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5.875rem;
    margin-right: 1.6875rem;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      width: auto;
      height: auto;
      justify-content: flex-start;
    }

    .avatar {
      width: 3.75rem;
      height: 3.75rem;
      background: $ellipse;
      border-radius: 50%;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        width: 1.875rem;
        height: 1.875rem;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
    .username {
      font-weight: 600;
      font-size: 1.375rem;
      line-height: 30px;
      color: $dark;
      letter-spacing: -0.55px;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        margin-left: 1rem;
      }

      @media screen and (max-width: 360px) {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }
  }

  .commit-message {
    grid-area: message;
    @include grid;
    justify-content: flex-start;
    width: 40rem;
    margin-right: 4rem;

    @media screen and (max-width: 768px) {
      width: 21rem;
      justify-content: flex-start;
      margin-bottom: 1rem;
      margin-right: 0;
    }

    @media screen and (max-width: 360px) {
      width: 100%;
      margin-bottom: .5rem;
      margin-right: 0;
    }

    &-text {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: -0.4px;

      @media screen and (max-width: 360px) {
        font-size: 1rem;
      }
    }
  }

  .commit-date {
    grid-area: date;
    @include grid;
    justify-content: flex-end;

    &-date {
      @media screen and (max-width: 360px) {
        font-size: 0.75rem;
      }
    }
  }
}
