@import '../../scss/sass-variables';

.suggested-repos {
  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    @media screen and (max-width: 768px) {
      margin-top: 2rem;
    }

    &-pick-one {
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: -0.4px;
    }

    &-suggested-flex {
      display: flex;
      margin-top: 1.5rem;

      @media screen and (max-width: 768px) {
        margin-top: 2rem;
        flex-direction: column;
        margin-bottom: 2rem;
      }
    }
  }
}
